aDR{{ define "main" }}

<p class="page-title">Media Library</p>

<div class="gallery">
{{ range (where site.RegularPages "Section" "photos").ByDate.Reverse }}
  {{ $img := .Params.cover.image }}
  {{ $imgPath := strings.TrimPrefix "/images/" $img }}
  {{ $image := resources.Get (printf "images/%s" $imgPath) }}

  {{ if $image }}
    {{ $thumb := $image.Resize "1200x webp q80" }}
    {{ $full := $image.Resize "2000x webp q85" }}

    <div class="gallery-item" data-src="{{ site.Params.cdnURL }}{{ $full.RelPermalink }}>
      <img loading="lazy" src="{{ site.Params.cdnURL }}{{ $thumb.RelPermalink }}" alt="{{ .Title }}">

      <div class="overlay">
        <div class="text">
          <div class="title">{{ .Title }}</div>
          <div class="location">{{ .Params.location }}</div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
</div>

<div class="fullscreen" id="fullscreen">
  <span class="close" onclick="closeFullscreen()">&times;</span>
  <img id="fullscreen-img">
</div>

<style>

/* 瀑布流 */
.gallery {
  column-count:3;
  column-gap:35px;
}

/* 图片 */
.gallery-item {
  break-inside:avoid;
  margin-bottom:35px;
  position:relative;
  cursor:pointer;
}

.gallery-item img {
  width:100%;
  display:block;
  transition:all .5s ease;
}

.gallery-item:hover img {
  transform:scale(1.05);
}

/* hover */
.overlay {
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.35);
  opacity:0;
  transition:.3s;
  display:flex;
  align-items:flex-end;
  padding:20px;
}

.gallery-item:hover .overlay {
  opacity:1;
}

.text {
  color:white;
}

.title {
  font-size:14px;
}

.location {
  font-size:12px;
  opacity:.7;
}

/* 全屏 */
.fullscreen {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.9);
  justify-content:center;
  align-items:center;
  z-index:999;
}

.fullscreen.active {
  display:flex;
}

.fullscreen img {
  max-width:90%;
  max-height:90%;
}

.close {
  position:absolute;
  top:30px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}

</style>

<script>

const fullscreen = document.getElementById('fullscreen');
const fullscreenImg = document.getElementById('fullscreen-img');

document.querySelectorAll('.gallery-item').forEach(item=>{
  item.onclick = ()=>{
    fullscreenImg.src = item.dataset.src;
    fullscreen.classList.add('active');
  }
});

function closeFullscreen(){
  fullscreen.classList.remove('active');
}

</script>

{{ end }}
